<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listar    PruebaExitosa</h1>
   
    {% for i in listaPrueba %}
      <p><ul>
            <li>{{ i.cantidad }} 
                {{ i.titulo }} - 
                {{ i.subtitulo }} </li>
         </ul>
     </p>
    {% endfor %}
         

</body>
</html>