{% extends 'base.html' %}
{% load static %}



{% block title %}
    Eliminar a {{colaborador}}       
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}
<div class="grid-container ">
    <div class="grid-x">
        <h3 class="cell" style="text-align: center;">Confirmar si desea eliminar este Colaborador {{colaborador}}</h3>
        <form class="cell" method="POST">{% csrf_token %}
            <div class="callout alert">
                <h5>Por favor confirme que desea eliminar al colaborador(a) {{colaborador}}</h5>
                <p>Recuerde que al confirmar la eliminación, se perderán todos los datos de forma permanente.</p>
            </div>
            <button type="submit" class="alert button">Confirmar</button>
        </form>
    </div>
</div>

{% endblock content %}