{% extends 'base.html' %}
{% load static %}


{% block title %}
    Editar Colaborador(a) {{colaborador}}      
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container ">

    <div class="grid-x">
        <h1 class="cell text-center ">Actualizar registro de {{colaborador}}  </h1>
    </div>
    <div class="cell">
        <form action="" method="POST" class="grid-x grid-margin-x">{% csrf_token %}
            <div class="cell large-6">
                <label>Nombre
                    {{form.first_name}}
                </label>
            </div>
            <div class="cell large-6">
                <label>Apellido
                    {{form.last_name}}
                </label>
            </div>
            <div class="cell large-6">
                <label>Cargo
                    {{form.job}}
                </label>
            </div>
            <div class="cell large-6">
                <label>Área
                    {{form.departamento}}
                </label>
            </div>
            <div class="cell large-6">
                <label>Habilidades
                    {{form.habilidad}}
                </label>
            </div>
            <div class="cell large-6">
                <button class="submit success button">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock content %}